<div class="text-center p-3 bg-primary text-white rounded">
  <h2>Login / Signup with Local Storage</h2>
</div>
<div
  class="container mt-5 d-flex justify-content-center"
  style="font-family: fantasy"
>
  <form
    *ngIf="activeForm === 'register'"
    class="p-4 border rounded shadow bg-light"
    style="width: 100%; max-width: 500px"
    (submit)="registerForm()"
  >
    <h2 class="text-center mb-4">REGISTER</h2>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        name="name"
        [(ngModel)]="registerObj.name"
        placeholder="Name"
      />
    </div>
    <div class="mb-3">
      <input
        type="email"
        class="form-control"
        name="email"
        [(ngModel)]="registerObj.email"
        placeholder="Email"
      />
      <div *ngIf="emailError" class="text-danger mt-1">{{ emailError }}</div>
    </div>
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="registerObj.password"
        placeholder="Password"
      />
      <div *ngIf="passwordError" class="text-danger mt-1">
        {{ passwordError }}
      </div>
    </div>
    <button type="submit" class="btn btn-primary w-100">Register</button>
    <p (click)="toggleForm('login')" class="text-center mt-3">
      Already have an account?
      <span class="text-primary" style="cursor: pointer">LOGIN</span>
    </p>
  </form>

  <form
    *ngIf="activeForm === 'login'"
    class="p-4 border rounded shadow bg-light"
    style="width: 100%; max-width: 500px"
    (submit)="loginForm()"
  >
    <h2 class="text-center mb-4">LOGIN</h2>
    <div class="mb-3">
      <input
        type="email"
        class="form-control"
        name="email"
        [(ngModel)]="loginObj.email"
        placeholder="Email"
      />
      <div *ngIf="emailError" class="text-danger mt-1">{{ emailError }}</div>
    </div>
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="loginObj.password"
        placeholder="Password"
      />
      <div *ngIf="passwordError" class="text-danger mt-1">
        {{ passwordError }}
      </div>
    </div>
    <button type="submit" class="btn btn-primary w-100">Login</button>
    <p (click)="toggleForm('register')" class="text-center mt-3">
      Don't have an account?
      <span class="text-primary" style="cursor: pointer">REGISTER</span>
    </p>
  </form>
</div>
