.card {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.container {
  max-width: 1200px;
  margin: auto;
}
.card-title {
  font-weight: bold;
}
/* styles.css */
/* Dark mode for body */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

/* Dark mode navbar and container */
.dark-navbar {
  background-color: #333333 !important;
}

.dark-container {
  background-color: #1e1e1e;
  color: #ffffff;
}

/* Dark mode card */
.dark-card {
  background-color: #2b2b2b;
  color: #ffffff;
}

/* Dark mode text */
.text-light {
  color: #ffffff !important;
}
.full-width {
  width: 100%;
}
